body {
  height: 100vh;
  max-width: 24rem;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  background-color: rgb(190, 164, 214);
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem 1rem;
  background-color: rgb(250, 194, 194);
  border-radius: 0 0 10px 10px;
}

.app-form > input,
button {
  border: 1px solid rgb(172, 171, 171);
  padding: 1vw 0 1vw;
  outline: none;
  margin: 5px;
}

.app-form > button {
  background-color: #a1eafb;
}
